.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

.simple-window {
  width: 699px;
  height: 234px;
  border-color: #83b5d6;
  border-width: 1px;
  border-style: solid;
  border-radius: 2px;
}

.simple-window-label {
  border-bottom-color: #83B4D6;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  background: linear-gradient(to bottom right,#ddf0fc, #d6ebfa);
  height: 35px;
  width: 100%;
}

.window-label-text {
  position: relative;
  left: 20px;
  bottom: 2px;
}

.window-label-img {
  position: relative;
  left: 10px;
  bottom: 9px;
}

.simple-window-content {
  background-color: white;
  height: 100%;
  width: 100%;
}

label {
  text-shadow: 0 1px 1px #fff;
  font-size: 16px;
  color: #05415b;
}

.chart-size-standard {
  width:480px;
  max-width:480px;
  height:140px;
  max-height:140px;
  padding-top: 25px;
  padding-left: 10px;
}

.info-panel {
  padding-right: 19px;
  padding-top: 16px;
}

.info-container {
  text-align: right;
}

.info-text {
  font-family: MyriadPro;
  font-size: 40px;
  font-weight: bold;
  color: #05415b;
}

.info-text-currency {
  font-family: MyriadPro;
  font-size: 24px;
  font-weight: bold;
  padding-top: 8px;
  padding-right: 4px;
  color: #2f6ca6;
}

.info-description {
  font-family: MyriadPro;
  font-size: 14px;
  padding-top: 4px;
  color: #05415b;
}

.info-button-container {
  padding-top: 50px;
  padding-left: 5px;
  text-align: right;
}

.info-button {
  background: linear-gradient(#1ebcea,#046c8a);
  border: 2px solid #ffffff;
  height: 31px;
  width: 140px;
  border-radius: 7px;
  color: #fff;
  font-family: MyriadPro;
  box-shadow: 0px 4px 6px -1px rgba(0,0,0,0.35);
  padding: 5px 12px;
}

.info-button:focus {
  color: #fff;
  border-color: rgb(244, 244, 244);
  outline-width: 0;
}

.info-button:active {
  outline-width: 0 !important;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    padding: 50px;
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

@font-face {
  font-family: MyriadPro;
  src: url("fonts/MyriadPro-Regular.otf") format("opentype");
}
