<div ng-init="init()">

  <simple-window title="Revenue by Solution" iconurl="images/icon_1.jpg">
    <info-with-chart type="line", data="data"></info-with-chart>
  </simple-window>

  <simple-window title="Installations" iconurl="images/icon_2.jpg" class="md-padding">
      <info-with-chart type="bar" data="installationsData"></info-with-chart>
  </simple-window>

  <simple-window title="Installations" iconurl="images/icon_2.jpg" class="md-padding">
    <info-with-chart type="line" data="data2"></info-with-chart>
  </simple-window>
</div>
